# Unity generated
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emoryCaptures/
[Rr]ecordings/

# Asset Store tools
/[Aa]ssets/AssetStoreTools*

# IDEs/editors
.vs/
.idea/
.vscode/
*.csproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# OS junk
.DS_Store
Thumbs.db
Desktop.ini

# Crash reports
sysinfo.txt
crashlytics-build.properties

# Builds / packages
*.apk
*.aab
*.unitypackage

# Rider
.idea/
*.sln.iml
